
/MvcExpense/MvcExpense/bin/MvcExpense.pdb
/MvcExpense/MvcExpense/bin/MvcExpense.dll
/MvcExpense/MvcExpense/obj/
/MvcExpense/MvcExpense.Tests/obj/
/MvcExpense/MvcExpense.Tests/bin/
/MvcExpense/Infrastructure.EntityFramework/bin/