
/MvcExpense/MvcExpense.suo
/MvcExpense/MvcExpense.Core/bin/
/MvcExpense/MvcExpense.Core/obj/
/MvcExpense/MvcExpense.Tests/bin/
/MvcExpense/MvcExpense.Tests/obj/
/MvcExpense/MvcExpense.Infrastructure.EntityFramework/bin/
/MvcExpense/MvcExpense.Infrastructure.EntityFramework/obj/
/MvcExpense/MvcExpense.UI/bin/
/MvcExpense/MvcExpense.UI/obj/

/MvcExpense/Framework/Zac.DesignPattern/bin/
/MvcExpense/Framework/Zac.DesignPattern/obj/
/MvcExpense/Framework/Zac.DesignPattern.EntityFramework/bin/
/MvcExpense/Framework/Zac.DesignPattern.EntityFramework/obj/
/MvcExpense/Framework/Zac.StandardCore/bin/
/MvcExpense/Framework/Zac.StandardCore/obj/
/MvcExpense/Framework/Zac.StandardHelper/bin/
/MvcExpense/Framework/Zac.StandardHelper/obj/
/MvcExpense/Framework/Zac.StandardInfrastructure.EntityFramework/bin/
/MvcExpense/Framework/Zac.StandardInfrastructure.EntityFramework/obj/
/MvcExpense/Framework/Zac.StandardMvc/bin/
/MvcExpense/Framework/Zac.StandardMvc/obj/
/MvcExpense/Framework/Zac.StandardMvc.Tests/bin/
/MvcExpense/Framework/Zac.StandardMvc.Tests/obj/
/MvcExpense/Framework/Zac.Tree/bin/
/MvcExpense/Framework/Zac.Tree/obj/

/MvcExpense/Libraries/Zac.DateRange/bin/
/MvcExpense/Libraries/Zac.DateRange/obj/
/MvcExpense/Libraries/Zac.DateRange.Tests/bin/
/MvcExpense/Libraries/Zac.DateRange.Tests/obj/
/MvcExpense/Libraries/Zac.EnhancedMath/bin/
/MvcExpense/Libraries/Zac.EnhancedMath/obj/
/MvcExpense/Libraries/Zac.EnhancedMath.Tests/bin/
/MvcExpense/Libraries/Zac.EnhancedMath.Tests/obj/
/MvcExpense/Libraries/Zac.MvcAssetsHelper/bin/
/MvcExpense/Libraries/Zac.MvcAssetsHelper/obj/
/MvcExpense/Libraries/Zac.MvcAutoMapAttribute/bin/
/MvcExpense/Libraries/Zac.MvcAutoMapAttribute/obj/
/MvcExpense/Libraries/Zac.MvcBaseActionFilter/bin/
/MvcExpense/Libraries/Zac.MvcBaseActionFilter/obj/
/MvcExpense/Libraries/Zac.MvcFlashMessage/bin/
/MvcExpense/Libraries/Zac.MvcFlashMessage/obj/
/MvcExpense/Libraries/Zac.MvcGroupSelectHelper/bin/
/MvcExpense/Libraries/Zac.MvcGroupSelectHelper/obj/
/MvcExpense/Libraries/Zac.MvcMultiButtonAttribute/bin/
/MvcExpense/Libraries/Zac.MvcMultiButtonAttribute/obj/
/MvcExpense/Libraries/Zac.MvcWhitespaceFilterAttribute/bin/
/MvcExpense/Libraries/Zac.MvcWhitespaceFilterAttribute/obj/
/MvcExpense/Libraries/Zac.RepositorySiteMapProvider/bin/
/MvcExpense/Libraries/Zac.RepositorySiteMapProvider/obj/

/MvcExpense/TestResults/
/MvcExpense/_ReSharper.MvcExpense/
