
/MvcExpense/MvcExpense/obj
/MvcExpense/MvcExpense/obj/Debug/MvcExpense.csproj.FileListAbsolute.txt
/MvcExpense/MvcExpense/obj/Debug/ResolveAssemblyReference.cache
/MvcExpense/MvcExpense/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MvcExpense/MvcExpense.Tests/obj/Debug/MvcExpense.Tests.csproj.FileListAbsolute.txt
/MvcExpense/MvcExpense.Tests/obj/Debug/MvcExpense.Tests.dll
/MvcExpense/MvcExpense.Tests/obj/Debug/MvcExpense.Tests.pdb
/MvcExpense/MvcExpense.Tests/obj/Debug/ResolveAssemblyReference.cache
/MvcExpense/MvcExpense.Tests/obj/Debug/TempPE
/MvcExpense/MvcExpense.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache