@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.Assets().Scripts.Add( "/Scripts/jquery.validate.min.js" );
    Html.Assets().Scripts.Add( "/Scripts/jquery.validate.unobtrusive.min.js" );
}

@RenderBody()

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>
